.root {
    -fx-background-color: #a88a5f;
}

.back-button {
    -fx-font-size: 18px;
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-cursor: hand;
}

.main-container {
    -fx-padding: 20;
}

.titulo {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-font-family: "Times New Roman", serif;
}

.form-container {
    -fx-background-color: #cebea3;
    -fx-padding: 30;
    -fx-background-radius: 5;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-max-width: 400;
    -fx-alignment: center;
}

.input-label {
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.input-field {
    -fx-background-color: white;
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    -fx-padding: 8;
    -fx-font-size: 14px;
    -fx-pref-width: 300;
}

.login-button {
    -fx-background-color: transparent;
    -fx-text-fill: #1f1f1f;
    -fx-padding: 10 26;
    -fx-background-radius: 15px;
    -fx-border-color: #947850;
    -fx-border-width: 1;
    -fx-border-radius: 15px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-font-size: 14px;
}



.login-button:hover {
    -fx-background-color: #cebea3;
}

.login-button:pressed {
    -fx-background-color: #cebea3;
}
