.root {
    -fx-background-color: #a88a5f;
    -fx-font-family: "Segoe UI", sans-serif;
}

.top-bar {
    -fx-padding: 10 20 10 20;
    -fx-background-color: #523e27;
}

.title {
    -fx-font-size: 32px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-family: "Times New Roman", serif;
}

.back-button {
    -fx-font-size: 18px;
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.action-button {
    -fx-background-color: #cebea3;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-background-radius: 10;
}

.info-label {
    -fx-text-fill: #cebea3;
    -fx-font-size: 14px;
    -fx-background-color: #cebea3;
}
.boton-barra {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-padding: 5 10;
    -fx-cursor: hand;
}

.boton-barra:hover {
    -fx-background-color: #d9cbb0;
    -fx-text-fill: white;
}


