.root {
    -fx-background-color: #a88a5f;
    -fx-font-family: "Segoe UI", sans-serif;
}

.header {
    -fx-background-color: transparent;
}

.top-bar {
    -fx-padding: 10 20 10 20;
    -fx-background-color: #523e27;
}

.title {
    -fx-font-size: 32px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-family: "Times New Roman", serif;
}

.back-button {
    -fx-font-size: 18px;
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-cursor: hand;
}

/* Botón principal DONACIÓN */
.tab-button {
    -fx-background-color: #947850;
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 8 16;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}

/* Contenedor del formulario */
.form-container {
    -fx-background-color: #cebea3;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-padding: 20;
    -fx-spacing: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0.0, 0, 2);
}

/* Titulares y etiquetas */
.form-title {
    -fx-font-size: 18px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
#addDogButton {
    -fx-background-color: #cebea3;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-padding: 8 16;
    -fx-cursor: hand;
}
.donation-label {
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.small-hint {
    -fx-font-size: 12px;
    -fx-text-fill: black;
    -fx-font-style: italic;
}

/* Campos de texto */
.text-field, .text-area, .date-picker {
    -fx-background-color: white;
    -fx-border-color: #70553a;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 6 10;
    -fx-font-size: 14px;
}

/* Botón de pagar */
.pay-button {
    -fx-background-color: #70553a;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-cursor: hand;
}

.pay-button:hover {
    -fx-background-color: #523e27;
}
.boton-barra {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-padding: 5 10;
    -fx-cursor: hand;
}

.boton-barra:hover {
    -fx-background-color: #d9cbb0;
    -fx-text-fill: white;
}

