

.titulo {
    -fx-font-size: 28px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.boton {
    -fx-background-color: #d9cbb0;
    -fx-text-fill: #333;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 4, 0, 2, 2);
}
